<p id="notice"><%= notice %></p>

<p>
  <strong>Filter:</strong>
  <%= @parent_filter.filter %>
</p>

<%= link_to 'Edit', edit_parent_filter_path(@parent_filter) %> |
<%= link_to 'Back', parent_filters_path %>
