<h1>Parental Filters</h1>
<br>
<table class="filters">
<%= link_to 'Edit Available Parental Filters', parent_filters_path %>
  
  <% @parent_filters.each do |filter| %>
      <tr>
        <td>
          
          <div class="filters">
               
           
           <p><%= filter.filter %></p>
           
           <a href="/parent_filter/<%= filter.filter %>"><%= filter.filter %></a>
          </div>
        
        </td>
      </tr>
    <% end %>
</table>
