/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= bootstrap.min
 
 @import 'bootstrap-sprockets';
@import 'bootstrap';
*/

#application_body{
    position: absolute;
    right: 0;
    bottom: 0;
 }
.button_with_image_save {
    background: url(../images/Icons/parents32.png) #f2efa8 no-repeat 10px 6px;
    text-indent:30px;
    display:block;
    cursor: pointer;
}

table  {
    font-size: 12px;
  font-size: large; 
 
}
 td{
   /*border: 1px solid purple;  */
    border-bottom: 1px solid purple;
}

  
span{
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0;
    font-weight: 600;
    line-height: 30px;
    font-size: 12px; 
    text-transform: uppercase;
    margin-left: 5px;
}

a{
    text-decoration: none;
  
}

a:hover { 
  color: #7625ff;
}
a:active { 
  color: #333333;
}

#search_icon{
    margin-bottom:0.4%;
}

.header_icons{
    padding-right: 20px;
}
.portrait{
    max-width: 400px;
    width: 100%;
    height: auto;
}
.portrait2{
    max-width: 600px;
    max-height: 432px;
    width: 100%;
    height: auto;
    margin: 40px 20px 20px 100px ;
}
.portrait3{
    max-width: 395px;
    max-height: 500px;
    width: 100%;
    height: auto;
    margin: 40px 0px 10px 100px ;
}

.portrait4{
    max-width: 600px;
    width: 100%;
    height: auto;
}

.purple-button{

    border: 1px solid  #7625ff;
}
.purple-horizontal{
border-top-style:solid;
    border-bottom-style:solid;
   border-color:  #7625ff;
   border-width: 1px;
}
.purple{
    color: #7625ff;
}
.image-buttons{
   margin-left:50%; 
}
.hover div:hover{
    background-color: #f2f2f2;
}


