/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
 @import 'bootstrap-sprockets';
 
@import 'bootstrap';
*/
/*
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.field{
    
}
.card{
    max-width: 400px;
}
if screen small then  position absolute
.center {
    margin: auto;
    margin-left: 50%;
    width: 20%;
    border: 3px solid green;
    padding: 10px;
    position: absolute;
    z-index: 3;
}
*/
#application_body{
    position: absolute;
    right: 0;
    bottom: 0;
 }

 /*
.filters{
        position: absolute;
    margin-left: 450px;

 }*/

a{
     text-decoration: none;
  
}

a:hover { 
  color: #7625ff;
}
a:active { 
  color: #333333;
}

#search_icon{
    margin-bottom:0.4%;
}

.purple-button{

    border: 1px solid  #7625ff;
}
.purple{
    color: #7625ff;
}
.image-buttons{
   margin-left:50%; 
}
.hover div:hover{
    background-color: #f2f2f2;
}

 .youtube {
    clear: both;
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 34px;
    padding-bottom: 51%;
    overflow:hidden;
    float: none;
}
.youtube iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    
}
