<h1>Filters</h1>
<br>
<table class="filters">
<%= link_to 'Edit Available Filters', filters_path %>
  
  <% @filters.each do |filter| %>
      <tr>
        <td>
          
          <div class="filters">
               
           
           <p><%= filter.filter %></p>
           
           <a href="/filter/<%= filter.filter %>"><%= filter.filter %></a>
          </div>
        
        </td>
      </tr>
    <% end %>
</table>
