<!--the line below is taken from a template-->
<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
               
                <li>
                    <a href="/static_pages/about.html">
                     
                       <!-- <p>About Us</p> -->
                    </a>
                </li>
                
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; <a href="" target="_blank">TopTenJokes</a>, humour extends your lifespan 
        </p>
    </div>
</footer>


