<!--the line below is taken from a template-->
 <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="../">
                                Home
                            </a>
                        </li>
                        <li>
                    <a href="parents.html">
                      
                        <p>Parents</p>
                    </a>
                </li>
                <li>
                    <a href="students.html">
                       
                        <p>Teachers</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.irishtimes.com/news/education" target="_blank">
                      
                        <p>Education Articles</p>
                    </a>
                </li>
                <li>
                    <a href="/static_pages/about.html">
                       
                        <p>About Us</p>
                    </a>
                </li>
                     
                    </ul>
                </nav>
                <!-- causes a 2018 problem when reloads =  deleting this line of code works   --><!--the line below is taken from a template-->
                <p class="copyright pull-right">
                    &copy;    <!--<script>document.write(new Date().getFullYear())</script> --><a href="https://www.linkedin.com/in/vadim-malakhovski/" target="_blank">SchoolApp</a>, improve education
                </p>
            </div>
        </footer>
        
       
        