<h1>Personal Filters</h1>
<br>
<table class="filters">
<%= link_to 'Edit Available Personal Filters', pfilters_path %>
  
  <% @pfilters.each do |pfilter| %>
      <tr>
        <td>
          
          <div class="filters">
               
           
           <p><%= pfilter.pfilter %></p>
           
           <a href="/pfilter/<%= pfilter.pfilter %>"><%= pfilter.pfilter %></a>
          </div>
        
        </td>
      </tr>
    <% end %>
</table>
